$light-primary: (
    50: #e8f4fe,
    100: #c5e4fc,
    200: #9ed2fb,
    300: #77bff9,
    400: #59b2f7,
    500: #3ca4f6,
    600: #369cf5,
    700: #2e92f3,
    800: #2789f2,
    900: #1a78ef,
    A100: #ffffff,
    A200: #eff5ff,
    A400: #bcd7ff,
    A700: #a2c8ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$light-accent: (
    50: #edecff,
    100: #d3d0ff,
    200: #b6b1ff,
    300: #9892ff,
    400: #827aff,
    500: #6c63ff,
    600: #645bff,
    700: #5951ff,
    800: #4f47ff,
    900: #3d35ff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #e0dfff,
    A700: #c8c6ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$light-warn: (
    50: #fbe7e9,
    100: #f5c2c7,
    200: #ee9aa2,
    300: #e7727d,
    400: #e15361,
    500: #dc3545,
    600: #d8303e,
    700: #d32836,
    800: #ce222e,
    900: #c5161f,
    A100: #fff6f7,
    A200: #ffc3c6,
    A400: #ff9095,
    A700: #ff777c,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
