// importing themes
@import "./themes/bootstrap/bootstrap";
@import "./themes/material/material";

body {
  font-family: Roboto, -apple-system, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.fw-bold {
  font-weight: bold;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}
